.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
}

.navbar {
  background-color: rgb(33, 48, 54);
}

.navbar-nav .dropdown-menu {
  position: absolute !important;
}

.profileImg {
  max-height: 250px;
  padding: 0.25rem;
  border: 1px solid var(--bs-border-color);
  background-color: #fff;
  border-radius: 0.375rem;
}

.bablyGreen {
  background-color: #567c69;
  color: white;
}
.bablyGrey {
  background-color: #546a77;
}

.bablyBlue {
  background-color: #659aab;
  color: white;
}

.bablyColor {
  background-color: #516768;
}

.bablyBabyBlue {
  background-color: #b4ced6;
}

.bablyOffWhite {
  background-color: #eefaf7;
  color: #546a77;
  font-weight: bold;
}

.bablyRed {
  background-color: rgb(129, 29, 29);
  color: white;
}

.pointer {
  cursor: pointer;
}

.lgSwitch {
  width: 3em !important;
  height: 1.5em;
}

.wThird {
  width: 33%;
}

.nav-tabs li button {
  color: rgb(15, 14, 14) !important;
}

.nav-tabs {
  background-color: #c8cdcd;
}

.bablyBg {
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
  object-fit: cover;
  z-index: -1;
  position: absolute;
}

